@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --glow: 0 0 2px 2px rgba(57, 141, 227, 0.54);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html.dark {
  color-scheme: dark;
}

html.dark select,
html.dark input:not([type='checkbox']) {
  background: #000000;
  border-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

select {
  cursor: pointer;
  font-size: 1rem;
}

select,
input:not([type='checkbox']) {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  font-size: 1rem;
  line-height: 1.5;
  outline: none;
  padding-block: 0.5rem;
  width: 100%;
}

select:not(:focus),
input:not([type='checkbox']):not(:focus) {
  border-color: #000000;
}

select,
input:not([type='checkbox']):not([inputmode='numeric']) {
  padding-inline: 0.75rem;
}

input[type='date'] {
  min-height: 2.25rem;
}

select:focus,
input:focus {
  box-shadow: var(--glow);
}