$spaces: (
  m: 'margin',
  p: 'padding',
);

$sides: (
  x: 'inline',
  l: 'inline-start',
  r: 'inline-end',
  y: 'block',
  t: 'block-start',
  b: 'block-end',
);

$base: 1rem;
$sizes: (
  auto: 'auto',
  0: 0,
  4: 0.25 * $base,
  8: 0.5 * $base,
  12: 0.75 * $base,
  16: 1 * $base,
  20: 1.25 * $base,
  24: 1.5 * $base,
  36: 2.25 * $base,
  48: 3 * $base,
);

.border {
  $border: 1px solid var(--color);
  border: $border;
  border-radius: var(--border-radius);
  @each $sideKey, $sideValue in $sides {
    &-#{$sideKey} {
      border-#{$sideValue}: $border;
    }
  }
}

@each $spaceKey, $spaceValue in $spaces {
  @each $sizeKey, $sizeValue in $sizes {
    .#{$spaceKey} {
      &-#{$sizeKey} {
        #{$spaceValue}: #{$sizeValue};
      }
      @each $sideKey, $sideValue in $sides {
        &#{$sideKey}-#{$sizeKey} {
          #{$spaceValue}-#{$sideValue}: #{$sizeValue};
        }
      }
    }
  }
}
