.alert {
  background: var(--blue3);
  color: var(--white);
  border-radius: var(--border-radius);
  left: 16px;
  margin: 0 auto;
  padding: 8px 16px;
  position: fixed;
  text-shadow: none;
  top: 60px;
  z-index: var(--alert-index);
}
.alert.critical {
  background: var(--red);
}
.alert.success {
  background: var(--green);
}

.app {
  --background: var(--white);
  --color: var(--grey3);
  background: var(--background);
  color: var(--color);
  font-weight: 500;
  min-height: 100vh;
  overflow-y: scroll;
  padding: 96px 0;
  position: relative;
  text-align: center;
  text-shadow: none;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  width: 100%;
}
.app.dark {
  --background: var(--grey3);
  --color: var(--white);
}
.app.show-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.7)
    ),
    url('/background.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.app.show-bg.dark {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)
    ),
    url('/background.jpg');
  text-shadow: -1px -1px 0 var(--grey3), 1px -1px 0 var(--grey3),
    -1px 1px 0 var(--grey3), 1px 1px 0 var(--grey3);
}

.background-blur-overlay {
  backdrop-filter: blur(6px);
  left: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--overlay-index);
}

.client-form {
  border: 1px solid var(--color);
  border-radius: var(--border-radius);
  margin: 12px 0;
  padding: 12px 0 20px;
}

.exercise-app {
  display: flex;
  justify-content: center;
  padding: 16px 24px;
  text-align: center;
}
.exercise-app h4 {
  max-width: 30ch;
}

.exercise-history {
  margin-bottom: 48px;
  padding: 0;
  text-align: center;
}
.exercise-history > div {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: max-content;
}

.exercise-history-item {
  border: 1px solid var(--color);
  height: 36px;
  min-width: 160px;
  overflow: scroll;
}
.exercise-history-head,
.exercise-history-item > span {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-height: 32px;
  max-width: 160px;
  overflow-y: scroll;
  padding: 4px 8px;
}
.exercise-history-head {
  margin: unset;
  min-height: 32px;
  padding: unset;
}

.intro-text {
  padding: 0 8px 16px;
  margin: 0 auto;
  max-width: 30ch;
}
.intro-text > div {
  margin-top: 20px;
}

.lift-records {
  align-items: center;
  display: flex;
  flex: row;
  justify-content: center;
  margin: 8px auto 12px;
  overflow-x: hidden;
  white-space: nowrap;
}
.lift-records button {
  text-transform: none;
}
.lift-records div {
  display: flex;
  justify-content: center;
  margin: 0 4px;
  padding: 0 12px;
  width: 200px;
}
.lift-records button {
  margin: 4px 8px 8px;
  max-width: max-content;
}
.lift-records h4 {
  white-space: normal;
}

.lift-app span {
  line-height: 32px;
  margin: 0 auto;
  max-width: max-content;
}
.lift-app .input-container {
  margin: 12px auto;
}

.new-exercise-inputs {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 240px;
}
.new-exercise-inputs .input-container {
  margin: 0 0 16px;
}
.new-exercise-inputs input {
  padding-right: 4px;
  width: 70px;
}
.new-exercise-inputs div:last-child input {
  width: 90px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  min-width: 100%;
  padding: 60px auto;
}

.quote {
  margin: 0 auto;
  max-width: 45ch;
  padding: 24px 16px 0;
}
.quote h4 {
  margin-bottom: 12px;
}

.record {
  cursor: pointer;
  max-width: max-content;
  margin: 0 auto;
}

.side-nav {
  background: var(--background);
  border-right: 1px solid var(--color);
  height: 100vh;
  left: 0;
  overflow-y: scroll;
  padding: 16px 16px 48px;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: var(--navbar-index);
}

.workout-app {
  display: flex;
  flex-direction: column;
}

.workout-app > main > section {
  margin: 36px auto;
  max-width: 300px;
}

@media (min-width: 568px) {
  .workout-app > main {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    margin: 0 auto;
    padding: 0 12px;
  }
}

@media (min-width: 1200px) {
  .workout-app {
    margin-left: 300px;
  }
}