.alert {
  background: var(--grey3);
  bottom: 36px;
  color: var(--white);
  border-radius: 6px;
  margin: 0 auto;
  padding: 8px 16px;
  position: absolute;
  right: 16px;
  width: max-content;
  z-index: 2;
}
.alert.critical {
  background: var(--red);
}
.alert.success {
  background: var(--blue2);
}

.app {
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.7)
    ),
    url('/background.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--grey3);
  font-weight: 500;
  justify-content: center;
  min-height: 100vh;
  overflow-y: scroll;
  position: relative;
  text-align: center;
  text-shadow: none;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  width: 100%;
}
.app.dark {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)
    ),
    url('/background.jpg');
  color: var(--white);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.background-blur-overlay {
  backdrop-filter: blur(6px);
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}

.exercise-app {
  display: flex;
  justify-content: center;
  padding: 16px 24px;
  text-align: center;
}
.exercise-app h4 {
  max-width: 30ch;
}

.exercise-history {
  margin: 12px auto 20px;
  max-width: 275px;
  overflow-x: scroll;
  white-space: nowrap;
}
.exercise-history button {
  text-transform: none;
}
.exercise-history button:first-child {
  margin-left: 0;
}
.exercise-history button:last-child {
  margin-right: 0;
}
.exercise-history h4 {
  white-space: normal;
}

.intro-text {
  padding: 8px 16px 16px;
  margin: 0 auto;
  max-width: 30ch;
}
.intro-text h4 {
  margin-bottom: 8px;
}

.lift-app h3 {
  margin: 0 auto;
  max-width: max-content;
}
.lift-app .input-container {
  margin: 12px auto;
}

.lightswitch {
  margin-right: 12px;
}
.lightswitch .switch::after {
  margin-left: -36px;
}

.new-exercise-inputs {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 240px;
}
.new-exercise-inputs .input-container {
  margin-top: 0;
}
.new-exercise-inputs input {
  padding-right: 4px;
  width: 70px;
}
.new-exercise-inputs div:last-child input {
  width: 90px;
}

.quote {
  margin: 0 auto;
  max-width: 45ch;
  padding: 36px 16px;
}
.quote h4 {
  margin-bottom: 12px;
}

.record {
  cursor: pointer;
  max-width: max-content;
  margin: 0 auto;
}

.scrollable {
  margin: 0 auto;
  max-height: calc(100vh - 125px);
  max-width: 30ch;
  overflow: scroll;
  padding-top: 16px;
}
.scrollable section {
  margin-bottom: 16px;
}
@media (min-width: 568px) {
  .scrollable {
    min-height: 450px;
  }
}

.workout-app {
  min-height: calc(100vh - 50px);
  padding: 0 16px;
}
.workout-app > section:first-child {
  margin: 12px 0 36px;
}
.workout-app > section select {
  margin-top: 12px;
  min-width: clamp(200px, 80%, 300px);
}
@media (min-width: 568px) {
  .workout-app {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 8px;
    margin: 0 auto;
    max-width: 700px;
    padding: 0 auto;
  }
  .workout-app > section:first-child {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .workout-app {
    max-width: 1000px;
  }
}
