.show-gt-568 {
  display: none;
}

.show-gt-992 {
  display: none;
}

@media (min-width: 568px) {
  .show-gt-568 {
    display: block;
  }
}

@media (min-width: 992px) {
  .hide-gt-992 {
    display: none;
  }

  .show-gt-992 {
    display: block;
  }
}
