/* Basic styles */

/* -------------------------------------------------- */

/* Cursor */

.cursor-auto {
  cursor: auto;
}

.pointer {
  cursor: pointer;
}

/* -------------------------------------------------- */

/* Layout */

.full-size {
  height: 100%;
  width: 100%;
}

.outline {
  border: 1px solid var(--color);
  border-radius: 4px;
  padding: 4px 8px;
}

/* -------------------------------------------------- */

/* Text */

.line-through {
  text-decoration: line-through;
}

.red {
  color: var(--red);
}

.underline,
.hover-underline:hover {
  text-decoration: underline;
}
