/* Basic styles */

/* -------------------------------------------------- */

/* Cursor */

.cursor-auto {
  cursor: auto;
}

.cursor-default {
  cursor: default;
}

.pointer {
  cursor: pointer;
}

/* -------------------------------------------------- */

/* Layout */

.center {
  align-items: center;
  justify-content: center;
}

.display-none {
  display: none;
}

.flex-row {
  display: flex;
  flex: row;
}

.full-size {
  height: 100%;
  width: 100%;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.opacity-0 {
  opacity: 0;
}

/* -------------------------------------------------- */

/* Text */

.line-through {
  text-decoration: line-through;
}

.red {
  color: var(--red);
}

.underline,
.hover-underline:hover {
  text-decoration: underline;
}
